<h1>Welcome to VShop 🎉</h1>

<p>Hello <%= @user.email %>,</p>

<p>Thank you for creating an account with us.</p>

<p>We're excited to have you here.</p>

<p>
  <a href="https://shop-production-2840.up.railway.app/">
    Start Shopping
  </a>
</p>